@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Button geral*/
.btnPadrao {
    position: relative;
    width: auto;
    height: auto;
    /*max-height: 3.2;*/
    margin: 1rem;
    padding: 0.6rem;
    bottom: 0px;   
    line-height: initial;

    background-color: rgb(33, 110, 187);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: transform 0.5s, box-shadow 0.5s, background-color 0.6s;

    font-weight: 300px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.btnPadrao:hover {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2), -2px -2px 6px rgba(0, 0, 0, 0.2);
    transform: translateY(-1.5px);
}

.btnPadrao:active {
    transform: translateY(1.5px);
    transition: background-color 0.6s;
    background-color: rgb(10, 132, 255);
    border: none;
}

.btnPadrao:focus {
    border: none;
    outline: none;
}

/*Button de pesquisa para mesas (Tela caixa)*/
#pesquisa {
    width: 3.5rem;
    background-color: rgb(65, 70, 80);

    color: rgb(220, 225, 226);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    margin: 0rem;
}

/* Button para adicionar produdo na mesa (Tela garçom) */
#adicionarProd {
    width: auto;
    height: auto;
    margin: 1.2rem;
    padding: 0.5rem;
}