/*Card das mesas*/
.cardMesa h1 {
    color: rgb(236, 199, 149);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.cardMesa a {
    text-decoration: none;
    margin: 1rem;

    color: rgb(142, 156, 207);
    font-size: 1.2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.cardMesa {
    background-color: rgb(65, 70, 80);
    border-radius: 16px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;

    width: auto;
    max-width: 15rem;
    min-height: auto;
    max-height: 25rem;
    margin: 1rem;
    padding: 1.5rem;

    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    color: #bdbdbd;
    letter-spacing: 0.5px;
    font-family: 'IM Fell Great Primer', serif;
}
