/* Img para remoção de pedido */
table img {
    width: 1rem;
    height: 1rem;
    vertical-align: baseline;
    margin-left: 0.5rem;

    border-radius: 60%;
    transition: background-color 0.6s;
}

table img:hover {
    transition: background-color 0.6s;
    background-color: rgb(245, 43, 43);
}

/* Botao para fechar card*/
.tools {
    position: absolute;
    display: flex;
    padding: 9px;
}

.box {
    position: absolute;
    width: 15px;
    height: 15px;
    margin: 0rem;
    padding: 1px;
    
    border-radius: 50%;
}

.red {
    transition: background-color 0.6s;
    background-color: rgb(233, 44, 44);
}

.red:hover{
    transition: background-color 0.6s;
    background-color: rgb(131, 11, 11);
}

/* Card do detalhe da mesa */
#Modal {
    display: block;
}

table {
    margin: auto;
    margin-top: 1rem;
    
    font-size: 1rem;
    text-align: center;
    border-spacing: 1.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.modal-dialog {
    max-width: 30rem;
}

.modal{
    margin: auto;
    padding: 2rem;

    backdrop-filter: blur(10px);
}

.modal-header {
    border-bottom: 0px;
}

.modal-title {
    margin-bottom: 0rem;
    justify-content: center;
    
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(194, 205, 214);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.modal-content {
    height: auto;
    width: auto;
    max-width: 30rem;

    border-radius: 45px;
    opacity: 0.85;

    padding: 2rem;

    backdrop-filter: blur(15px);
    background-color: rgb(43, 68, 90);
}

.modal-body h3 {
    margin: 0.5rem;
    margin-top: 0.5rem;

    font-size: 1rem;
    color: rgb(109, 204, 236);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}


.modal-body h4 {
    margin: 0.2rem;
    text-align: center;

    font-size: 1rem;
    color: rgb(209, 213, 226);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.modal-title h5{
    margin-bottom: 0rem;
    justify-content: center;
    
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.modal-footer {
    border-top: 0px;
}

/* Pagamento */
.pagamento option {
    background-color: rgb(36, 50, 71);
    
    font-size: 1rem;
    color: rgb(209, 213, 226);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    border: none;
}

.pagamento select {
    min-width: 5rem;
    width: auto;
    max-width: 7rem;
    height: auto;

    background-color: rgba(36, 50, 71, 0.048);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;
    color: rgb(209, 213, 226);
    border: none;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.pagamento select:focus {
    border: none;
    outline: none;
}

.pagamento input {
    width: 7rem;
    height: 2.2rem;
    padding: 0.2rem;
    border: none;
    outline: none;
    
    background-color: rgb(52, 56, 65);
    border-radius: 18px;

    transition: box-shadow 0.6s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    
    color: rgb(217, 225, 233);
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.pagamento input:hover {
    outline: none;
}

.pagamento {
    margin: auto;
    margin-top: 2rem;
    
    font-size: 1rem;
    text-align: center;
    border-spacing: 1.5rem;
    color: rgb(217, 225, 233);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* barra para separar os itens */
.bar {
    width: 100%;
    height: 0.4rem;
    margin-bottom: 0.8rem;

    background-color: rgba(30, 43, 54, 0.452);
    border-radius: 2rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.144);
}

/* Form para add produto */
.addProdItem {
    width: auto;
    height: auto;
    margin: auto;

    opacity: 0.85;
}

.addProdItem input {
    width: 9rem;
    height: 2.2rem;
    margin: 1rem;
    padding: 0.2rem;
    border: none;
    outline: none;
    
    background-color: rgb(52, 56, 65);
    border-radius: 18px;

    transition: box-shadow 0.6s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    
    color: rgb(217, 225, 233);
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.addProdItem input:hover {
    outline: none;
}

.addProdItem label {
    margin: 0.2rem;
    width: 10.8rem;

    font-size: 1rem;
    color: rgb(199 220 239);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.addProdItem option {
    background-color: rgb(36, 50, 71);
    
    font-size: 1rem;
    color: rgb(209, 213, 226);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

    border: none;
    outline: none;
    border-radius: 10px;
}

.addProdItem select {
    min-width: 5rem;
    width: auto;
    max-width: 7rem;
    height: auto;

    background-color: rgba(36, 50, 71, 0.048);
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 1rem;
    color: rgb(209, 213, 226);
    border: none;

    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.addProdItem select:focus {
    border: none;
    outline: none;
}
