/* Pesquisa das mesas */
.pesquisaMesa {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    height: 3rem;
}

.pesquisaMesa input {
    width: 9rem;
    height: 2.2rem;
    padding: 0.4rem;
    border: none;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    
    background-color: rgb(65, 70, 80);
    opacity: 0.8;
    border-radius: 18px;

    transition: box-shadow 0.6s;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    
    color: rgb(168, 204, 236);
    text-align: center;
}

.pesquisaMesa input:focus {
    border: none;
    transition: box-shadow 0.6s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
    outline: none;
}

.pesquisaMesa img {
    width: 1.5rem;
    height: 1.5rem;
}