{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navigationBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/predefinicoes.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/cardMesas.css' %}">
    <link rel="stylesheet" href="{% static 'css/detalheMesa.css' %}">
    <link rel="stylesheet" href="{% static 'css/pesquisa.css' %}">
    <script src="{% static 'js/detalheMesa.js' %}"></script>
</head>
<body class="tela" onload="horario()">
    <!-- Nav Bar -->
    <header>
        <nav class="navbar">
            <ul class="menu-items">
                <li><a href="{% url 'caixa' %}">Mesas</a></li>
                <li><a href="{% url 'cozinha' %}">Cozinha</a></li>
                <li><a href="{% url 'cardapio' %}">Cardápio</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                      Opções
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalLongTitleProduto">Adicionar produto</a></li>
                      <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModalLongTitleFuncionario">Cadastrar funcionário</a></li>
                      <li><a class="dropdown-item" href="#">Mudar mesa</a></li>
                      <div class="dropdown-divider"></div>
                      <li><a class="dropdown-item" href="#">Encerrar dia</a></li>
                    </ul>
                  </li>
                <!-- Pesquisa das mesas -->
                <div class="pesquisaMesa">
                    <input type="search" class="pesquisarMesa" placeholder="Pesquisar Mesa">
                    <button class="btnPadrao" id="pesquisa"><img src="/static/img/search.png" alt="imgPesquisa"></button>
                </div>
            </ul>
            <div class="logo">
                <img src="/static/img/logo.png" alt="" id="imgLogo">
                <h1 class="logo">Restaurante Irineu's</h1>
            </div>
        </nav>
    </header>

    <!-- Cadastro Produto -->
    <div class="modal fade" id="exampleModalLongTitleProduto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitleProduto" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitleProduto">Cadastrar produto</h5>
                <span class="red box" aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="modal-body">
                <form action="{% url 'addProduto' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="addProdItem">
                        <label for="nomeProd">Nome</label>
                        <input type="text" name="nomeProdInput" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">Descrição</label>
                        <input type="text" name="descProduto" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">Valor unitário</label>
                        <input type="text" name="valorProduto" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">Categoria</label>
                        <select name="categoriaProd" id="categoriaProd" required>
                            {% for produto in produtos %}
                            <option value="{{ produto.categoriaProduto }}">{{ produto.categoriaProduto }}</option>
                            {% endfor %}
                        </select>
                        <div class="bar"></div>
    
                        <button class="btnPadrao" type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
    <!-- Cadastro Funcionário -->
    <div class="modal fade" id="exampleModalLongTitleFuncionario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitleFuncionario" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitleFuncionario">Cadastrar funcionário</h5>
                <span class="red box" aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="modal-body">
                <form action="{% url 'addFuncionario' %}" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="addProdItem">
                        <label for="nomeProd">Nome</label>
                        <input type="text" name="nomeFuncionario" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">cpf</label>
                        <input type="text" name="cpfFuncionario" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">Senha</label>
                        <input type="text" name="senhaFuncionario" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">telefone</label>
                        <input type="text" name="telefoneFuncionario" required>
                        <div class="bar"></div>
    
                        <label for="valorProd">Função</label>
                        <input type="text" name="tipoFuncionario" required>
                        <div class="bar"></div>

                        <button class="btnPadrao" type="submit">Confirmar</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

    <!-- Section das div dos pedidos-->
    <section>
        {% for pedido in pedidos %}
        {% if pedido.mesa.statusMesa == 'a' %}
        <div class="cardMesa">
            <h1>Mesa</h1>
            <h2>{{ pedido.mesa.numeroMesa }}</h2>
            <a id="horario">Entrada: {{ pedido.dataPedido }}</a>
            
            <a>Valor: R$ {{ calcularMesa.valorTotal }}</a>
            
            <a>Garçom: {{ pedido.pessoa.nome }}</a>
            <a href="#"><button type="button" class="btn btn-primary btnPadrao" data-toggle="modal" data-target="#exampleModalLongTitle{{ pedido.id }}">Detalhes</button></a>
        </div>
        {% endif %}
        {% endfor %}
    </section>
    <!-- Card Mesa Detalhe-->
    {% for pedido in pedidos %}
    <div class="modal fade" id="exampleModalLongTitle{{ pedido.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle{{ pedido.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Mesa {{ pedido.mesa.numeroMesa }}</h5>
              <span class="red box" aria-hidden="true" class="close" data-dismiss="modal" aria-label="Close"></span>
            </div>
            <div class="modal-body">
                <table>
                    <tbody>
                        <tr>
                            <th><h3>Descrição</h3></th>
                            <th><h3>Quantidade</h3></th>
                            <th><h3>Valor</h3></th>
                        </tr>
                        <tr>
                            <td>
                                {% for itemPedido in itemPedidos %}
                                {% if itemPedido.pedido.id == pedido.id %}
                                <h4 style="text-align: justify;">{{ itemPedido.produto.nomeProduto }}<a href="{% url 'retirarItem' itemPedido.id %}"><img src="/static/img/xremover.png" alt="img remover pedido"></a></h4>
                                <div class="bar"></div>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for itemPedido in itemPedidos %}
                                {% if itemPedido.pedido.id == pedido.id %}
                                <h4>{{ itemPedido.quantidadeItemPedido }}x</h4>
                                <div class="bar"></div>
                                {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for itemPedido in itemPedidos %}
                                {% if itemPedido.pedido.id == pedido.id %}
                                <h4>R$ {{ itemPedido.valorItemPedido }}</h4>
                                <div class="bar"></div>
                                {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <th><h3>Serviço</h3></th>
                            <th><h3>Sub-Total</h3></th>
                            <th><h3>Total</h3></th>
                        </tr>
                        <tr>
                            <td><h4>R$ 5,00</h4></td>
                            <td><h4>R$ </h4></td>
                            <td><h4>R$ {{ total }}</h4></td>
                        </tr>
                        <tr>
                            <td><button class="btnPadrao">Retirar 10%</button></td>
                            <td><button class="btnPadrao">Puxar conta</button></td>
                            <td><button class="btnPadrao" data-toggle="collapse" href="#pagamentoColapse{{ pedido.id }}">Pagar</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div  class="collapse pagamento" id="pagamentoColapse{{ pedido.id }}">
                    <table>
                        <tr>
                            <th><h3>Forma de pagamento</h3></th>
                            <th><h3>Troco</h3></th>
                        </tr>
                        <tr>
                            <td>
                                <select name="pagamentoSelect" id="pagamentoSelect">
                                    <option value="cartao">Cartão</option>
                                    <option value="dinheiro">Dinheiro</option>
                                    <option value="pix">Pix</option>
                                </select>
                            </td>
                            <td><input type="text" id="troco"></td>
                        </tr>
                    </table> 
                    <a href="{% url 'fecharMesa' pedido.id %}"><button class="btnPadrao">Confirmar</button> </a>
                </div>    
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    <script  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"  crossorigin="anonymous"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"  crossorigin="anonymous"></script>
</body>
</html>