{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/predefinicoes.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/cardapio.css' %}">
    <script src="{% static 'js/pedidoStatus.js' %}"></script>
    <script src="{% static 'js/validacao.js' %}"></script>
</head>
<body class="tela" onload="pedidoStatus()">
    <!-- Titulo da pagina -->
    <header>
        <h1>Restaurante</h1>
    </header>
    <!-- Nav para alterar entre o cardápio e pedidos -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-cardapio" role="tab" aria-controls="pills-home" aria-selected="true">Cardápio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-pedidos" role="tab" aria-controls="pills-profile" aria-selected="false">Pedidos</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <section class="tab-pane fade show active" id="pills-cardapio" role="tabpanel" aria-labelledby="pills-cardapio-tab">
            <!-- Menu para as categorias -->
            <ul class="menu-categorias">
                {% for categoria in categorias %}
                    <li><a href="#{{ categoria.nomeCategoria }}">{{ categoria.nomeCategoria }}</a></li>
                {% endfor %}
            </ul>
            <!-- Sessao de categorias -->
            {% for categoria in categorias %}
                <section class="categoria" id="{{ produto.categoriaProduto }}">
                    <!-- Nome da categoria -->
                    <div>
                        <h1>{{ categoria.nomeCategoria }}</h1>
                        <div class="bar"></div>
                    </div>
                    <!-- Card produtos -->
                    {% for produto in produtos %}
                        {% if produto.categoria_id == categoria.id %}
                            <div class="cardProduto">
                                <h1 data-toggle="collapse" href="#colapse{{ produto.id }}">{{ produto.nomeProduto }}</h1>
                                <h2>{{ produto.descricaoProduto }} </h2>
                                <h2>R${{ produto.valorUnitario }}</h2>
                                <!-- Div colapse para recolher a div -->
                                <div class="collapse" id="colapse{{ produto.id }}">
                                    <form action="{% url 'addItemPedido' produto.id %}" method="post" autocomplete="off">
                                        {% csrf_token %}
                                        <label for="">Mesa: </label>
                                        <input type="text" name="numeroMesa" required>
                                        <label for="{{ form.quantidadeItemPedido.id_for_label }}">Quantidade: </label>
                                        <input id="quantidadeItemPedido" type="number" name="quantidadeItemPedido" value="1" required>
                                        <button id="adicionarProd" class="btnPadrao" type="submit" onclick="vAddPedido(this); return false;">Adicionar</button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </section>
            {% endfor %}
        </section>
        <!-- Sessão de pedidos -->
        <section class="tab-pane fade" id="pills-pedidos" role="tabpanel" aria-labelledby="pills-pedidos-tab">
            <div class="categoria">
                <h1>Pedidos prontos</h1>
                <div class="bar"></div>
            </div>
            {% for itemPedido in pedidoP %}
                <div class="cardProduto" id="pedido">
                    <h1>{{ itemPedido.produto.nomeProduto }}</h1>
                    <a id="status">Pedido pronto</a>
                    <a href="{% url 'esconderPedidoCardapio' itemPedido.id %}">Limpar</a>
                    <h2>Mesa: {{ itemPedido.pedido.mesa.numeroMesa }}</h2>
                </div>
            {% endfor %}
            <div class="categoria">
                <h1>Pedidos em andamento</h1>
                <div class="bar"></div>
            </div>
            {% for itemPedido in pedidoA %}
                <div class="cardProduto" id="pedido">
                    <h1>{{ itemPedido.produto.nomeProduto }}</h1>
                    <a id="status">Pedido em andamento</a>
                    <h2>Mesa: {{ itemPedido.pedido.mesa.numeroMesa }}</h2>
                </div>
            {% endfor %}
                <div class="categoria">
                    <h1>Pedidos cancelados</h1>
                    <div class="bar"></div>
                </div>
            {% for itemPedido in pedidoC %}
                <div class="cardProduto" id="pedido">
                    <h1>{{ itemPedido.produto.nomeProduto }}</h1>
                    <a id="status">Pedido cancelado</a>
                    <a href="{% url 'esconderPedidoCardapio' itemPedido.id %}">Limpar</a>
                    <h2>Mesa: {{ itemPedido.pedido.mesa.numeroMesa }}</h2>
                </div>
            {% endfor %}
        </section>
    </div>
    <script  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"  crossorigin="anonymous"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"  crossorigin="anonymous"></script>
</body>
</html>