<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozinha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/buttons.css">
    <link rel="stylesheet" href="/css/navigationBar.css">
    <link rel="stylesheet" href="/css/predefinicoes.css">
    <link rel="stylesheet" href="/css cozinha/cardPedidos.css">
    <link rel="stylesheet" href="/css cozinha/sessoes.css">
</head>
<body class="tela">
    <!-- Nav Bar -->
    <nav class="navbar">
        <div class="navbar-container container">
            <ul class="menu-items">
                <li><a href="#">Mesas</a></li>
                <li><a href="#">Cozinha</a></li>
                <li><a href="#">Cardápio</a></li>
            </ul>
            <h1 class="logo">Restaurante Irineu's</h1>
        </div>
    </nav>
    <!-- Pedidos a serem preparados -->
    <section class="sectionPedido">
        <h1>Pedidos</h1>
        <!-- Cards de pedidos -->
        <div class="cardPedido">
            <div class="tools">
                <span class="red box" onclick=""></span>
            </div>
            <h1>Comida</h1>
            <h2>Mesa ---</h2>
            <h2>Garçom: ----</h2>
            <h2>Quantidade: 1</h2>
            <h2>Entrada: 00:00</h2>
            <a><input type="button" value="Pronto" class="btn"></a>
        </div>
    </section>
    <!-- Pedidos concluidos (Historico) -->
    <section class="historico">
        <!-- Barra de divisão dos pedidos -->
        <span class="toolsDivisao">
            <span class="linha"></span>
        </span>
        <h1>Histórico</h1>
        <!-- Cards de historico -->
        <div class="cardPedido">
            <h1>Comida</h1>
            <h2>Mesa ---</h2>
            <h2>Garçom: ----</h2>
            <h2>Entrada 00:00</h2>
            <a>Pedido Finalizado</a>
        </div>
        <div class="cardPedido">
            <h1>Comida</h1>
            <h2>Mesa ---</h2>
            <h2>Garçom: ----</h2>
            <h2>Entrada 00:00</h2>
            <a>Pedido Finalizado</a>
        </div>
    </section>
</body>
</html>