{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozinha</title>
    <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navigationBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/predefinicoes.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/cozinha.css' %}">
    <script src="{% static 'js/reload.js' %}"></script>
</head>
<body class="tela" onload="seTime()">
    <!-- Nav Bar -->
    <header>
        <nav class="navbar">
                <ul class="menu-items">
                    <li><a href="#">Mesas</a></li>
                    <li><a href="#">Cozinha</a></li>
                    <li><a href="#">Cardápio</a></li>
                </ul>
                <div class="logo">
                    <img src="/static/img/logo.png" alt="" id="imgLogo">
                    <h1 class="logo">Restaurante Irineu's</h1>
                </div>
        </nav>
    </header>
    <!-- Nav para alterar entre o historico e pedidos -->
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-pedidos" role="tab" aria-controls="pills-home" aria-selected="true">Pedidos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-historico" role="tab" aria-controls="pills-profile" aria-selected="false">Histórico</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <!-- Pedidos a serem preparados -->
        <section class="tab-pane fade show active pedidos" id="pills-pedidos" role="tabpanel" aria-labelledby="pills-cardapio-tab">
            <!-- Cards de pedidos -->
            {% for itemPedido in pedidoA %}
            <div class="cardPedido">
                <div class="tools">
                    <a href="{% url 'cozinhaPedidoCancelado' itemPedido.id %}"><div class="box red"></div></a>
                </div>
                <h1>{{ itemPedido.produto.nomeProduto }}</h1>
                <h2>Mesa {{ itemPedido.pedido.mesa.numeroMesa }}</h2>
                <h2>Garçom: {{ itemPedido.pessoa.nome }}</h2>
                <h2>Quantidade: {{ itemPedido.quantidadeItemPedido }}</h2>
                <h2>Entrada: {{ itemPedido.pedido.dataPedido }}</h2>            
                <a href="{% url 'cozinhaPedidoPronto' itemPedido.id %}"><button class="btnPadrao">Pronto</button></a>
            </div>
            {% endfor %}
        </section>
        <!-- Pedidos concluidos (Historico) -->
        <section class="tab-pane fade" id="pills-historico" role="tabpanel" aria-labelledby="pills-pedidos-tab">
            <!-- Cards de historico -->
            {% for itemPedido in pedidoP %}
            <div class="cardPedido">
                <h1>{{ itemPedido.produto.nomeProduto }}</h1>
                <h2>Mesa {{ itemPedido.pedido.mesa.numeroMesa }}</h2>
                <h2>Garçom: {{ itemPedido.pessoa.nome }}</h2>
                <h2>Entrada: {{ itemPedido.pedido.dataPedido }}</h2>
                <h3>Pedido Finalizado</h3>
            </div>
            {% endfor %}
        </section>
    </div>
    
    <script  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"  crossorigin="anonymous"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"  crossorigin="anonymous"></script>
    <script  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"  crossorigin="anonymous"></script>
</body>
</html>